.row-header{
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer {
    background-color: #4D9AFF;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px px;
    margin: 0px auto;
    background: #4D9AFF;
    color: floralwhite;
}

address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;

}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color: #040470;
}

.card-header{
    background-color: #040470;
}

.pad{
    padding: 5px;
}

.margin-top{
    margin-top: 20px;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel{
    background: #040470;
}

.carousel-item{
    height: 300px;
}

.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButton{
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.latest-products {
    margin-top: 40px;
}

.latest-products .section-heading a {
    font-size: 13px;
    font-weight: 700;
}

.product-item {
    border: 2px solid #eee;
    margin-bottom: 30px;
}

.product-item .down-content {
    padding: 30px;
    position: relative;
}

.product-item img {
    width: 100%;

}

.product-item .down-content h4 {
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 10px;
}

.product-item .down-content h6 {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 18px;
    color: #121212;
}

.product-item .down-content span {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 13px;
    font-weight: 500;
}